.Header {
    // background-color: #DED4B9;
    background-color: #ffffff;
    color: #CE534D;
    width: 100%;
    padding: 20px;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 1px #CE534D;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
}